{% extends "layout.html" %}

{% block title %}Dashboard LL(1) Master{% endblock %}

{% block content %}
    <div class="w3-container w3-blue-grey w3-padding-24 w3-center">
        <h1 style="font-family: 'Allerta Stencil', Sans-serif; letter-spacing: 2px;">
            <i class="fa fa-gears w3-margin-right"></i>ANÁLISE GRAMATICAL
        </h1>
    </div>

    <div class="w3-container w3-padding-32">
        <div class="w3-card-4 w3-round-large w3-white w3-margin-bottom">
            <div class="w3-container w3-light-grey w3-round-top">
                <h4><i class="fa fa-edit w3-margin-right"></i><b>Gramática de Entrada</b></h4>
            </div>
            <div class="w3-container w3-padding">
                <form action="/dashboard" method="POST">
                    <textarea name="grammar" class="w3-input w3-border w3-round" 
                              style="height: 180px; font-family: 'Fira Code', monospace; background-color: #ffffff; resize: vertical;" 
                              placeholder="Ex: Program : Lista &#10;    Lista -> [ Elems ] ...">{{ grammar_input if grammar_input }}</textarea>
                    
                    <div class="w3-padding-16 w3-right-align">
                        <a href="/reset" class="w3-button w3-light-grey w3-round-large w3-margin-right">
                            <i class="fa fa-trash"></i> Reset
                        </a>
                        <button type="submit" class="w3-button w3-blue w3-round-large w3-hover-indigo">
                            <i class="fa fa-rocket"></i> Executar Pipeline
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
                <div class="w3-container w3-teal w3-round-top">
                    <h5 style="font-family: 'Allerta Stencil', Sans-serif;"><i class="fa fa-list-ul w3-margin-right"></i><b>Simbolismo</b></h5>
                </div>
                <table class="w3-table-all w3-card-4">
                    <tbody>
                        <tr>
                            <td style="width: 30%; vertical-align: middle;"><b>Terminais</b></td>
                            <td>
                                {% for s in terminals %}
                                    <span class="w3-tag w3-round-large {{ 'w3-amber' if s == 'ε' else 'w3-blue' }}" style="margin: 2px;">{{ s }}</span>
                                {% else %}
                                    <span class="w3-text-grey w3-small italic">A aguardar...</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;"><b>Não Terminais</b></td>
                            <td>
                                {% for s in non_terminals %}
                                    <span class="w3-tag w3-round-large w3-dark-grey" style="margin: 2px;">{{ s }}</span>
                                {% else %}
                                    <span class="w3-text-grey w3-small">A aguardar...</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;"><b>Tokens</b></td>
                            <td>
                                {% for s, t in tokens.items() %}
                                    <span class="w3-text-dark-grey" style="font-family: monospace;">{{ s }}</span> <i class="fa fa-arrow-right w3-tiny"></i> <span class="w3-tag w3-round w3-green w3-small">{{ t }}</span>
                                    <br>
                                {% else %}
                                    <span class="w3-text-grey w3-small">A aguardar...</span>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="w3-half">
                <div class="w3-container w3-indigo w3-round-top">
                    <h5 style="font-family: 'Allerta Stencil', Sans-serif;"><i class="fa fa-exchange w3-margin-right"></i><b>Análise First/Follow</b></h5>
                </div>
                <table class="w3-table-all w3-card-4">
                    <thead>
                        <tr class="w3-light-grey">
                            <th>NT</th>
                            <th class="w3-border-right">FIRST</th>
                            <th>FOLLOW</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nt in non_terminals %}
                        <tr>
                            <td class="w3-center"><b>{{ nt }}</b></td>
                            <td class="w3-border-right">
                                {% for s in firsts.get(nt, []) %}
                                    <span class="w3-tag w3-round-large w3-light-blue w3-tiny">{{ s }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% for s in follows.get(nt, []) %}
                                    <span class="w3-tag w3-round-large w3-pale-blue w3-text-blue w3-border w3-tiny" style="font-weight: bold;">{{ s }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% else %}
                        <tr><td colspan="3" class="w3-center w3-text-grey">Submeta a gramática para calcular os conjuntos.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 

        <div class="w3-container w3-margin-top">
            <div class="w3-container w3-black w3-round-top">
                <h4 style="font-family: 'Allerta Stencil', Sans-serif;"><i class="fa fa-sitemap w3-margin-right"></i><b>Estrutura Hierárquica (AST)</b></h4>
            </div>
            <div class="w3-card-4 w3-white" style="overflow-x: auto; border-radius: 0 0 8px 8px;">
                {% if ast_visual %}
                <pre style="margin:0; font-family: 'Fira Code', 'Courier New', monospace; line-height: 1.4; font-size: 14px; background-color: #282c34; color: #abb2bf; padding: 25px; border-left: 10px solid #61afef;">{{- ast_visual.strip() -}}</pre>
                {% else %}
                    <div class="w3-padding-32 w3-center">
                        <i class="fa fa-code-fork w3-xxlarge w3-text-light-grey"></i>
                        <p class="w3-text-grey">A árvore será gerada após a execução.</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="w3-row-padding w3-center w3-padding-32" style="max-width: 400px; margin: 0 auto;">
            <div>
                <a href="/parsers" style="text-decoration: none;">
                    <div class="w3-card w3-container w3-white w3-round-xlarge w3-hover-shadow w3-border-teal w3-bottombar">
                        <i class="fa fa-code w3-text-teal w3-xxlarge"></i>
                        <h4 class="w3-text-dark-grey"><b>Lookahead & Parsers</b></h4>
                        <p class="w3-text-grey w3-small">Gerar da tabela e código</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="w3-center">
            <p><a href="/start" class="w3-text-blue-grey w3-hover-text-black" style="text-decoration: none;"><i class="fa fa-home"></i> Voltar ao início</a></p>
        </div>
        <p class="w3-center w3-text-blue-grey w3-margin-top w3-opacity">
            Created for Project Languages Engineering class &bull; 2026
        </p>
    </div>
{% endblock %}