{% extends "layout.html" %}

{% block title %}Parsers - LL(1) Master{% endblock %}

{% block content %}
<div class="w3-container w3-blue-grey w3-padding-16">
    <h2><i class="fa fa-code w3-margin-right"></i>Lookahead & Parsers</h2>
</div>

<div class="w3-container w3-padding-32">
    <div class="w3-container w3-margin-bottom">
        <div class="w3-container w3-teal w3-round-top">
            <h5 style="font-family: 'Allerta Stencil', Sans-serif;"><b><i class="fa fa-table w3-margin-right"></i>Tabela Lookahead</b></h5>
        </div>
        <table class="w3-table-all w3-card-4 w3-hoverable">
            <thead>
                <tr class="w3-blue-grey">
                    <th style="width: 20%">Não-Terminal</th>
                    <th style="width: 30%">Símbolos Lookahead</th>
                    <th style="width: 50%">Produções Correspondentes</th>
                </tr>
            </thead>
            <tbody>
                {% for nt in non_terminals %}
                <tr>
                    <td><b><span class="w3-tag w3-round w3-black">{{ nt }}</span></b></td>
                    <td style="border-left: 1px solid #ddd;">
                        {% set lista_look = tabela.get(nt, {}) %}
                        {% for s in lista_look.keys() %}
                            <span class="w3-tag w3-round w3-indigo w3-small">{{ s }}</span>
                        {% endfor %}
                    </td>
                    <td style="border-left: 1px solid #ddd;">
                        {% set producoes_unicas = tabela.get(nt, {}).values() | unique | list %}
                        {% if producoes_unicas %}
                            {% for prod in producoes_unicas %}
                                <code class="w3-text-teal" style="font-weight: bold;">{{ prod }}</code>
                                {% if not loop.last %} <b class="w3-text-grey">|</b> {% endif %}
                            {% endfor %}
                        {% else %}
                            <span class="w3-text-grey w3-small"><i>Sem produções...</i></span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if not conflitos %}
        <div class="w3-container w3-margin-top w3-center">
            <hr style="border-top: 1px solid #eee; margin: 40px 0;">
            
            <div class="w3-container">
                <h3 style="font-family: 'Allerta Stencil', Sans-serif;" class="w3-text-blue-grey">
                    <i class="fa fa-rocket w3-margin-right"></i>Gerar Parser Programático
                </h3>
                <p class="w3-text-grey">A sua gramática é válida! Escolha uma arquitetura para exportar o código Python.</p>
            </div>

            <div class="w3-row-padding w3-margin-top" style="display: flex; justify-content: center; flex-wrap: wrap;">
                
                <div class="w3-col l4 m6 s12 w3-margin-bottom">
                    <div class="w3-card-4 w3-white w3-round-large w3-display-container w3-hover-shadow" style="height: 100%;">
                        <div class="w3-container w3-blue w3-round-top w3-padding">
                            <i class="fa fa-table w3-xxlarge"></i>
                        </div>
                        <div class="w3-container w3-padding-24">
                            <h4><b>Tabela de Parsing</b></h4>
                            <p class="w3-small w3-text-grey">Utiliza uma pilha e a tabela de lookahead para processar tokens de forma iterativa.</p>
                            <form action="/generate_parser" method="POST">
                                <input type="hidden" name="action_id" value="Table">
                                <div class="w3-margin-bottom">
                                    <label class="w3-tiny"><b>Escolha o nome do ficheiro:</b></label>
                                    <input type="text" name="file_name" class="w3-input w3-border w3-round" 
                                    placeholder="ex: meu_parser" value="my_parser.py">                
                                </div>    
                                    <button type="submit" class="w3-button w3-blue w3-round-large w3-block w3-hover-indigo">
                                    <i class="fa fa-download w3-margin-right"></i>Descarregar .py
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="w3-col l4 m6 s12 w3-margin-bottom">
                    <div class="w3-card-4 w3-white w3-round-large w3-display-container w3-hover-shadow" style="height: 100%;">
                        <div class="w3-container w3-indigo w3-round-top w3-padding">
                            <i class="fa fa-code-fork w3-xxlarge"></i>
                        </div>
                        <div class="w3-container w3-padding-24">
                            <h4><b>Descendente Recursivo</b></h4>
                            <p class="w3-small w3-text-grey">Implementa cada Não-Terminal como uma função. Ideal para gramáticas mais intuitivas.</p>
                            <form action="/generate_parser" method="POST">
                                <input type="hidden" name="action_id" value="Rec">
                                
                                <div class="w3-margin-bottom">
                                    <label class="w3-tiny"><b>Escolha o nome do ficheiro:</b></label>
                                    <input type="text" name="file_name" class="w3-input w3-border w3-round" 
                                    placeholder="ex: meu_parser" value="my_parser.py">                
                                </div>

                                <button type="submit" class="w3-button w3-indigo w3-round-large w3-block w3-hover-blue">
                                    <i class="fa fa-download w3-margin-right"></i>Descarregar .py
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="w3-container w3-margin-top w3-padding-24 w3-light-grey w3-round-xlarge w3-border">
                <div class="w3-row-padding">
                    <div class="w3-col l8 m12">
                        <h4 style="margin-top: 0;"><b>Tudo pronto!</b></h4>
                        <p class="w3-text-grey">Os teus parsers foram gerados com sucesso. Podes testá-los agora com frases de entrada.</p>
                    </div>
                    <div class="w3-col l4 m12 w3-right-align">
                        <a href="/test" class="w3-button w3-teal w3-round-large w3-card w3-hover-green w3-block" style="padding: 15px;">
                            <i class="fa fa-rocket w3-margin-right"></i> Começar Testes
                        </a>
                        <div class="w3-margin-top">
                            <a href="/dashboard" class="w3-text-blue-grey w3-hover-text-indigo" style="text-decoration: none; font-size: 0.9em;">
                               <i class="fa fa-undo"></i> Ajustar Gramática
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="w3-container w3-margin-top w3-animate-opacity">
            <div class="w3-panel w3-leftbar w3-border-red w3-pale-red w3-padding-24 w3-card-4 w3-round-large">
                <h3 style="font-family: 'Allerta Stencil', Sans-serif;" class="w3-text-red">
                    <i class="fa fa-exclamation-triangle w3-margin-right"></i>Conflitos Detetados
                </h3>
                <p class="w3-text-grey w3-margin-left">A gramática atual não cumpre os requisitos LL(1). Analise as sugestões abaixo:</p>
                
                <ul class="w3-ul w3-white w3-card w3-round-large w3-margin-top">
                    <li class="w3-light-grey w3-padding-large">
                        <b class="w3-text-red"><i class="fa fa-magic w3-margin-right"></i>Sugestões de Resolução</b>
                    </li>
                    
                    {% if sugestoes %}
                        {% for s in sugestoes %}
                            <li class="w3-padding-24 w3-hover-light-grey w3-border-bottom" style="transition: 0.3s; list-style: none;">
                                <div class="w3-row-padding">
                                    
                                    <div class="w3-col s12 m12 w3-margin-bottom">
                                        <span class="w3-tag w3-round w3-red w3-small">
                                            <i class="fa fa-flash w3-margin-right"></i>CONFLITO: {{ s.tipo_real }}
                                        </span>
                                        <h5 class="w3-margin-top"><b>{{ s.titulo }}</b></h5>
                                    </div>
                    
                                    <div class="w3-col s12 m5">
                                        <div class="w3-panel w3-leftbar w3-border-red w3-light-grey w3-padding">
                                            <p class="w3-small w3-text-red"><b>Produções em conflito:</b></p>
                                            <code class="w3-text-dark-grey" style="display: block; white-space: pre-wrap;">{{ s.conflito }}</code>
                                        </div>
                                    </div>
                    
                                    <div class="w3-col s12 m2 w3-center w3-hide-small" style="padding-top: 20px;">
                                        <i class="fa fa-arrow-right w3-xlarge w3-text-grey"></i>
                                    </div>
                    
                                    <div class="w3-col s12 m5">
                                        {% if s.proposta %}
                                        <div class="w3-panel w3-leftbar w3-border-green w3-pale-green w3-padding">
                                            <p class="w3-small w3-text-green"><b>Sugestão de Fatorização:</b></p>
                                            {% for linha in s.proposta %}
                                                <code class="w3-text-indigo" style="display: block;">{{ linha }}</code>
                                            {% endfor %}
                                            
                                            <form action="/autofix" method="POST" class="w3-margin-top">
                                                <input type="hidden" name="action_id" value="s.tipo_real">
                                                <input type="hidden" name="target" value="{{ s.conflito }}">
                                                <input type="hidden" name="new_rules" value="{{ s.proposta | join(';') }}">
                                                
                                                <button type="submit" class="w3-button w3-green w3-block w3-round-large w3-small w3-hover-black">
                                                    <i class="fa fa-magic w3-margin-right"></i>Aplicar esta correção
                                                </button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    </div>
                    
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="w3-padding-16 w3-center">
                            <i class="fa fa-info-circle w3-text-blue"></i> Não foram geradas sugestões automáticas.
                        </li>
                    {% endif %}
                </ul>

                <div class="w3-bar w3-margin-top">
                    <a href="/dashboard" class="w3-button w3-red w3-round-large w3-card-2 w3-hover-black">
                        <i class="fa fa-arrow-left w3-margin-right"></i>Voltar e Editar Gramática
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <p class="w3-center w3-text-blue-grey w3-margin-top w3-opacity">
        Created for Project Languages Engineering class &bull; 2026
    </p>
</div>
{% endblock %}